
.user-container{
  height: 100%;
  width: 100%;
  height:100vh;
  margin:0px;
  /* background-color:#9ad3bc; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/564x/c5/73/c5/c573c5c8554045f53baf554d4b9fa91c.jpg');
  background-size: cover;
}

.main-container{
  height: 100%;
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction:column;
 
  
}


#greeting{
  font-size:20px;
  flex-direction: column;
  margin-left: 2%;
  
}
#name{
  font-family:'lato';
  font-size:30px;
  display: flex;
  height: 45px;
  margin:0px;
  align-items: center;
}
.addSeconds{
margin-left: 2%;
font-size: 20px;
margin-top: 50px;
text-align:center;
border-radius: 15px;
width: 20%;
font-size: 30px;
background-color:#235789;
color:#fdfffc;
transition: width 1s;
}
.addSeconds:hover{
  width:40%;
}
.addSecondsActive{
  margin-left: 2%;
  margin-top: 50px;
  text-align:center;
  border-radius: 15px;
  width: 20%;
  font-size: 30px;
  background-color:#235789;
  color:#f3665d;
  transition: width 1s;

}
.removeBonus{
  margin-left: 2%;
  font-size: 30px;
  margin-top: 10px;
  text-align:center;
  border-radius: 15px;
  width: 30%;
  background-color:#235789;
  color:#fdfffc;
  transition: width 1s;
  
}
.removeBonusActive{
  margin-left: 2%;
  font-size: 30px;
  margin-top: 10px;
  text-align:center;
  border-radius: 15px;
  width: 30%;
  background-color:#235789;
  color:#f3665d;
  transition: width 1s;
}
.removeBonus:hover{
  width: 40%;
}
.skip{
  margin-left: 2%;
  font-size: 30px;
  margin-top: 10px;
  text-align:center;
  border-radius: 15px;
  width: 30%;
  background-color:#235789;
  color:#fdfffc;
  transition: width 1s;
  
}
.skipActive{
  margin-left: 2%;
  font-size: 30px;
  margin-top: 10px;
  text-align:center;
  border-radius: 15px;
  width: 30%;
  background-color:#235789;
  color:#f3665d;
  transition: width 1s;
}
.skip:hover{
  width: 40%;
}
#true{
margin: 0;
font-size: 37px;
margin-left: 20px;
color:green;
font-family:'Lato';
padding: 0px;

}
.trueScore{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size:27px;
  padding: 0px;
  height: 45px;
  margin-top: 20px;
}
#false{

  font-size: 37px;
  margin-left: 15px;
  color: red;
  font-family:lato;
  
}
.falseScore{
display: flex;
align-items: center;
font-weight: bold;
font-size: 27px;
height: 45px;


}
#questionBox{
  width: 100%;
  height: 50%;
  margin-top: auto;
  margin-bottom:20px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
}
#question{
  color:#16697a;
  margin-bottom: 15px;
  font-size:30px;
  text-align:center;
  font-family:Lato;
  display:flex;
  align-items: center;
}
.answer{
  border:1px solid green;
  color:#16697a;
  font-size:25px;
  font-family:Lato;
  margin-top:7px;
  text-align:center;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  transition: background-color 0.1s

}
.answer:hover{
  color: #ee964b;
}
#clock{
  display: flex;
  font-size: 100px;
  justify-content: center;
  margin-top:auto;
}


.ka{
  display:none;
}

#username{
border-radius: 25px;
border: 1px solid #ee964b;
height: 30px;
width: 300px;
text-align: center;

}
#btnSubmit{
border-radius: 25px;
height: 50px;
width: 100px;
margin-top: 15px;
border: 1px solid orange;
background-color:#eaf6ff;
}
::placeholder{
  text-align: center;
}
.ek{
  display: none;
}
.bonus{
  display: flex;
  flex-direction: column;
}
.btnStart{
  border-radius: 25px;
height: 60px;
width: 150px;
margin-top: 15px;
border: 1px solid orange;
background-color:#eaf6ff;
margin-left: 2%;
}
.btnStartActive{
  border-radius: 25px;
height: 50px;
width: 100px;
margin-top: 15px;
border: 1px solid orange;
background-color:#db3a34;
margin-left: 2%;
color:white;

}
